<p id="notice"><%= notice %></p>

<p>
  <b>Namefirst:</b>
  <%= @presenter.nameFirst %>
</p>

<p>
  <b>Namelast:</b>
  <%= @presenter.nameLast %>
</p>

<p>
  <b>Namealias:</b>
  <%= @presenter.nameAlias %>
</p>

<p>
  <b>Email:</b>
  <%= @presenter.email %>
</p>

<p>
  <b>Privateemail:</b>
  <%= @presenter.privateEmail %>
</p>

<p>
  <b>Phone:</b>
  <%= @presenter.phone %>
</p>

<p>
  <b>Website:</b>
  <%= @presenter.website %>
</p>

<p>
  <b>Fetlife:</b>
  <%= @presenter.fetlife %>
</p>

<p>
  <b>Twitter:</b>
  <%= @presenter.twitter %>
</p>

<p>
  <b>Facebook:</b>
  <%= @presenter.facebook %>
</p>

<p>
  <b>Google:</b>
  <%= @presenter.google %>
</p>

<p>
  <b>Shortdescrip:</b>
  <%= @presenter.shortDescrip %>
</p>

<p>
  <b>Bio:</b>
  <%= @presenter.bio %>
</p>

<p>
  <b>Shirtsize:</b>
  <%= @presenter.shirtSize %>
</p>

<p>
  <b>New:</b>
  <%= @presenter.new %>
</p>

<p>
  <b>Image:</b>
  <%= @presenter.image %>
</p>


<%= link_to 'Edit', edit_presenter_path(@presenter) %> |
<%= link_to 'Back', presenters_path %>
